.cartItem {
  position: relative;
  padding: 40px 20px;
  max-width: 60rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cartItem a {
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  top: 0;
  color: var(--color-secondary);
  text-decoration: none;
  transition: transform 0.3s, color 0.3s ease;
}

.cartItem a:hover {
  transform: translateX(-2px);
  color: var(--color-tertiary);
}
.cartItem__list {
  width: 100%;
  flex: 1;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}
.cartItem__list li {
  width: 100%;
  color: var(--dark-color);
  box-shadow: 0 2px 7px var(--dark-color);
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}
.cartItem__list li img {
  display: block;
  height: 10rem;
}

.cartItem__details {
  width: 70%;
}

.cartItem__details p:nth-child(1) {
  font-size: 1.5rem;
}
.cartItem__details p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 600;
}

.cartItem__btns {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-top: 1rem;
}
.cartItem__btns button {
  justify-self: left;
  all: unset;
  background-color: var(--color-secondary);
  color: var(--light-color);

  width: 35px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}
.cartItem__btns button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.cartItem__btns button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cartItem__btns button:disabled:hover {
  background-color: var(--color-secondary);
  color: var(--light-color);
}
.cartItem__btns button:nth-child(5) {
  position: absolute;
  right: 0;
  background-color: var(--red-color);
}

.cartItem__btns span {
  font-size: 1.5rem;
  font-weight: 700;
}

/*Cart Item  sub total*/

.subTotal {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.subTotal h4 {
  color: var(--dark-color);
}
.subTotal button {
  all: unset;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--light-color);
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.subTotal button:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*Responsive*/

@media screen and (max-width: 400px) {
  .cartItem {
    padding: 10px 5px;
  }

  .cartItem__list li {
    display: flex;
    flex-direction: column;
  }

  .cartItem__list li img {
    width: 100%;
    height: 25rem;
  }
  .cartItem__details {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .cartItem__btns {
    flex-direction: column;
  }
  .cartItem__btns button {
    width: 100%;
  }
  .cartItem__btns button:nth-child(5) {
    position: inherit;
    right: 0;
  }
}
