.pagination {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  display: block;
  padding: 6px 12px;
  background-color: var(--color-secondary);
  color: var(--light-color);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
}

.pagination button:disabled {
  opacity: 0.8;
}
.pagination button:disabled:hover {
  background-color: var(--color-secondary);
  color: var(--light-color);
  cursor: not-allowed;
}

.activePage {
  background-color: var(--color-tertiary) !important;
  color: var(--color-secondary) !important;
}
