.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px 17px;
  flex-wrap: wrap;
}

.card li {
  list-style: none;
  border: 4px solid var(--color-secondary);
  border-radius: 24px;
  overflow: hidden;
  width: 23%;
}
.card__head {
  overflow: hidden;
}
.card__head img {
  display: block;
  height: 300px;
  width: 100%;
  border: 1px solid var(--color-tertiary);
  border-radius: 20px;
  overflow: hidden;
}

/*Card body styles*/
.card__body {
  margin-top: 10px;
  box-shadow: 0px -8px 7px -8px var(--dark-color);
  border-radius: 15px 15px 0 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.card__body__title {
  color: var(--dark-color);
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  line-height: 22px;

  /* border: 2px solid red; */
  height: 40px;
  overflow: hidden;
}

.description p {
  opacity: 0.8;
  font-size: 1.4rem;
  line-height: 18px;
  margin-top: 1.2rem;
  /* border: 2px solid red; */
  height: 40px;
  overflow: hidden;
  transition: height 0.2s linear;
}

.disHeight {
  height: 200px !important;
}

.description span {
  color: var(--dark-color);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}
.description span:hover {
  color: var(--color-tertiary);
}

.price {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p:nth-child(2) {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);

  padding: 2px 10px;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: 600;
}
.price p span:nth-child(2) {
  display: inline-block;
  height: 12px;
  width: 1px;
  background-color: #ccc;
  margin: 0 8px;
}

/*Card footer styles*/
.card__footer {
  width: 100%;
  text-align: center;
}
.card__footer button {
  all: unset;
  background-color: var(--color-tertiary);
  color: var(--dark-color);
  font-weight: 600;
  font-size: 1.9rem;
  width: 90%;
  padding: 5px 0;
  border-radius: 100px;
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card__footer button:hover {
  background-color: var(--dark-color);
  color: var(--color-tertiary);
}

/*Responsive*/

@media screen and (max-width: 992px) {
  .card li {
    width: 31%;
  }
}
@media screen and (max-width: 700px) {
  .card li {
    width: 47%;
  }
}
@media screen and (max-width: 550px) {
  .card {
    padding: 10px;
  }
  .card li {
    width: 100%;
  }
}
